html{
    scroll-behavior: smooth;
}
@font-face{
    font-family: 'Museo Sans', sans-serif;
    src:url('fonts/MuseoSans-300.ttf')
}
.container{
    display: block;
    width: 1280px;
    margin: 0 auto;
}
body{
    background:#fff;
    color: #322F44;
    font-family: 'Museo Sans', sans-serif;
    font-size: 16px;
    margin:0;
    line-height: 1.4;
}
*, ::after, ::before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 45px;
    font-weight: 800;
}
h2{
    font-size: 33px;
}
h3{
    font-size: 27px;
}
h4{
    font-size: 22px;
    font-weight: 400;
}
h5{
    font-size: 20px;
    font-weight: 400;
}
p{
    font-size: 16px;
}

#promos{
    align-items: center;
    background: #EBA904;
    color: #FFF;
    display: flex;
    height: 50px;
    text-align: center;
}
header{
    background:#FFF;
    box-shadow: 0px 4px 6px rgba(0,0,0,.3);
    position: sticky;
    top: 0;
    z-index: 1;
}
#header{
    align-items: center;
    background:#FBFCFF;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
}
header #logo a{
    display: block;
}
header #logo img{
    height: auto;
    max-width: 160px;
}
header nav{
    align-items: center;
    display: flex;
}
header ul{
    display:flex;
    list-style: none;
    height: 75px;
    margin: 0;
    padding: 0;
}
header nav a{
    align-items: center;
    color:#000;
    display:flex;
    font-size: 1rem;
    font-weight: 400;
    height: 50px;
    justify-content: center;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    transition: .3s all;
}
header nav a:hover{
    color:#000;
}
header nav a::before{
    background: #000;
    bottom: 8px;
    content: "";
    display: flex;
    height: 0;
    position: absolute;
    transition: .3s width;
    width: 0;
}
header nav li:hover a::before{
    height: 2px;
    width: 85%;
}
header li{
    align-items: center;
    display: flex;
}
.nav__user{
    display: flex;
    flex-direction: row;
}
.nav__user--icon{
    display: flex;
    padding:0 8px;
}
.nav__user--icon i{
    font-size: 18px;
    color:#000;
}
#ecko{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
#sartenes img{
    display: block;
    object-fit: cover;
    max-width:100%;
}
#sartenes .img--movil{
    display: none;
}
#paquete{
    margin-top: 50px;
}
#paquete img, #recetas img{
    max-width: 100%;
}
.paquete, .recetas{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.paquete__copy, .recetas__copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paquete__copy h2, .recetas__copy h2{
    margin-bottom: 20px;
}
.paquete__copy p, .recetas__copy p{
    margin-bottom: 10px;
}
.paquete__copy a, .recetas__copy a{
    color: #000;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.paquete__copy a::after, .recetas__copy a::after{
    background: #EBA904;
    bottom: -4px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 35px;
}
.recetas__copy h5{
    font-weight: 600;
    margin-bottom: 10px;
}
footer{
    margin-top: 50px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq{
    padding-right: 12%;
}
.faq, .personaje{
    width: 50%;
}
.faq__cont{
    border-bottom: 1px solid #999999;
}
.faq__cont--pregunta{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.faq__cont--pregunta h4, .personaje h4{
    font-weight: 600;
}
.faq__cont--txt{
    margin: 5px 0;
}
.personaje__cont{
    align-items: center;
    display: flex;
}
.personaje__img{
    width: 50%;
}
.personaje__img img{
    max-width: 100%;
    display: block;
}
.personaje__txt{
    width: 50%;
    padding: 0 15px;
}
.personaje__txt p{
    margin: 5px 0;
}





/*MEDIA QUERIES*/

@media (max-width:1365px){ 
    .container{
        width: 1170px;
    }
}
@media (max-width:1270px){ 
    .container{
        width: 990px;
    }
}
@media (max-width:1023px){ 
    .container{
        width: 740px;
    }
    
    /* #presentacion #botones a:first-child{
        margin-right: 25px;
    } */
    #equipo .equipo{
        margin: 20px;
    }
    #acerca__btn {
        margin-bottom: 20px;
    }
    #acerca__btn a:first-child {
        margin-right: 25px;
    }
    #whatsapp__api{
        bottom:80px;
    }
}
@media (max-width:767px){ 
    .container {        
        padding-right: 15px;
        padding-left: 15px;
        margin:0 auto;
        width: initial;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size:26px;
    }
    h4{
        font-size:18px;
    }
    #header{
        height: 60px;
    }
    #nav__web{
        display: none;
    }
    #sartenes .img--movil{
        display: block;
    }
    .paquete, .recetas{
        flex-direction: column;
    }
    .paquete__copy, .recetas__copy{
        margin-bottom: 20px;
    }
    .paquete__img, .recetas__img{
        margin-bottom: 20px;
    }
    .recetas__img{
        order:1;
    }
    .footer{
        flex-direction: column;
    }
    .faq{
        padding: 0;
        width: initial;
    }
    .personaje{
        padding: 10px 0;
        width: initial;
    }
    .personaje__cont{
        flex-direction: column;
    } 
    .personaje__img, .personaje__txt{
        width: 100%;
    }
    .personaje__txt{
       padding: 0 15px; 
    }
}

